:root{
	--black: #333;
	--chili-pepper-color: #E32227;
	--box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
}

*{
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	text-transform: capitalize;
	transition: all .2s linear;
}
html{
	font-size: 62.5%;
/*	overflow: hidden;*/
	scroll-behavior: smooth;
}

/*navbar stlye start*/
	
header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: var(--black);
	padding: 1rem 7%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: var(--box-shadow);
	z-index: 10000;
}

header .logo img{
	width: 50px;
	height: auto;
}
header .logo img:hover{
	transform: rotate(360deg);
}

header .navbar a{
	font-size: 1.7rem;
	padding: .5rem 1.5rem;
	color: #fff;
	border: .1rem solid transparent;
	position: relative;
} 
header .navbar a::after{
	content: '';
	width: 0;
	height: 3px;
	background: var(--chili-pepper-color);
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}
header .navbar a:hover::after{
	width: 100%;
}
header .icons i{
	cursor: pointer;
	margin-left: .5rem;
	height: 4.5rem;
	line-height: 4.5rem;
	background: var(--chili-pepper-color);
	text-align: center;
	font-size: 1.7rem;
	color: #fff;
	padding: 1rem;
}
header .icons i:hover{
	color: #fff;
	background: var(--chili-pepper-color);
	transform: rotate(360deg);
}
header .icons #menu{
	display: none;
}

/*carousel*/
.home .home-slider .slide{
	display: flex;
	align-items: center;
	height: 100vh;
	justify-content: flex-start;
	color: #fff;
}
.home .home-slider .slide1{
	background: url(images/slide1.jpg);
}

.home .home-slider .slide2{
	background: url(images/slide2.jpg);
}

.home .home-slider .slide3{
	background: url(images/slide3.jpg);
}
.content img{
	width: 25%;
}

.home .home-slider .slide1,
.home .home-slider .slide2,
.home .home-slider .slide3{
	background-size: cover;
	background-repeat: no-repeat;
}
.home .home-slider .slide .content{
	text-align: center;
	padding-left: 9rem;
}
.home .home-slider .slide .content h3{
	color: var(--chili-pepper-color);
	font-size: 3rem;
	font-weight: 300;
}
.home .home-slider .slide .content h1{
	color: #fff;
	font-size: 8rem;
}
.home .home-slider .slide .content p{
	color: #e6e7e7;
	font-size: 1.8rem;
	letter-spacing: 1px;
	padding: .5rem 0;
	line-height: 1.5;
	font-weight: 200;
}
.btn{
	margin-top: 1rem;
	display: inline-block;
	font-size: 1.7rem;
	color: #fff;
	border: .1rem solid rgba(205, 170, 124, 0.2);
	background: transparent;
	cursor: pointer;
	padding: .8rem 3rem;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.btn:before{
	content: '';
	width: 100%;
	height: 100%;
	background: var(--chili-pepper-color);
	z-index: -1;
	position: absolute;
	top: 0;
	left: -100%;
	transition: .5s;
}

.btn:hover.btn:before{
	left: 0;
}

.swiper-pagination-bullet{
	background: var(--chili-pepper-color)!important;
	width: 15px!important;
	height: 15px!important;
	border-radius: 0!important;
}
/*carousel end*/

/*About*/
#about{
	padding: 80px 0;
	color: #fff;
	background: var(--black);
	font-size: 25px;
	display: inline-block;
}
.row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.about-col-1{
	flex-basis: 35%;
}
.about-col-1 img{
	width: 100%;
	border-radius: 15px;
}
.about-col-2{
	flex-basis: 60%;
}
.sub-title{
	font-size: 60px;
	font-weight: 60px;
	color: var(--chili-pepper-color);
}
/*About end*/

/*Chefs*/
#chefs{
	padding: 50px 0px;
}
.work-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}
.work{
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}
.work img{
	width: 100%;
	border-radius: 10px;
	display: block;
	transition: transform 0.5s;
}
.layer{
	width: 100%;
	height: 0%;
	background: linear-gradient(rgba(0, 0, 0, 0.5), #ff004f);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	font-size: 14px;
	transition: height 0.5s;
}
.layer h3{
	font-weight: 500;
	margin-bottom: 20px;
}
.layer a{
	margin-top: 20px;
	color: #ff004f;
	text-decoration: none;
	font-size: 18px;
	line-height: 60px;
	background: #fff;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
}
.work:hover img{
	transform: scale(1.1);
}
.work:hover .layer{
	height: 100%;
}
.btn{
	display: block;
	margin: 50px auto;
	width: fit-content;
	border: 1px solid #ff004f;
	padding: 14px 50px;
	border-radius: 6px;
	text-decoration: none;
	color: #fff;
	transition: background 0.5s;
}
.btn:hover{
	background: #ff004f;
}
/*Chefs end*/

/*Contact*/

#contact{
	background: var(--black);
}

.contact p{
	margin-top: 30px;
	font-size: 25px;
}
.contact p i{
	color: #fff;
	margin-right: 15px;
	font-size: 50px;
}
.social-icons{
	margin-top: 30px;
}
.social-icons a{
	text-decoration: none;
	font-size: 50px;
	margin-right: 15px;
	color: blue;
	display: inline-block;
	transition: transform 0.5;
}
.social-icons a:hover{
	color: var(--chili-pepper-color);
	transform: translateY(-5px);
}
/*Contact*/

/*copyright*/
.copyright{
	width: 100%;
	text-align: center;
	padding: 25px 0;
	background: #262626;
	font-weight: 300;
}
/*copyright end*/




/*media query*/
@media (max-width: 991px){
	html{
		font-size: 55%;
	}
	header{
		padding: 1rem 2rem;
	}
	header .logo img{
		height: 7rem;
	}
}
@media (max-width: 768px){
	header .logo img{
		height: 7rem;
	}
	header .icons #menu{
		display: inline-block;
	}
	header .navbar{
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: #333;
		border-top: 1rem solid rgba(205, 170, 124, 0.2);
		border-bottom: 1rem solid rgba(205, 170, 124, 0.2);
		padding: 1rem;
		clip-path: polygon(0 0,100% 0,100% 0,0 0);
	}
	header .navbar.active{
		clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
	}
	header .navbar a{
		display: block;
		padding: 1.5rem;
		margin: 1rem;
		font-size: 2rem;
		background: #000000;
	}

/*	carousel media query*/
	.home .home-slider .slide{
		justify-content: center;
		height: 80vh;
	}
	.home .home-slider .slide .content{
		padding: 0;
	}
	.home .home-slider .slide .content h1{
		font-size: 7rem;
	}

	.about-col-1, .about-col-2{
		flex-basis: 100%;
	}
	.about-col-1{
		margin-bottom: 30px;
	}
	.about-col-2{
		font-size: 14px;
	}
}


